body{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("./img-folder/countries.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:  #F9F2Ea;
    height: 100vh;}