nav{
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #f0f0f0ab;
}


.activityLink, .countryLink{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}